doctype html
html
 head
  title CodePen Redos - Expanding!
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width')
  include commonset
 body.notflexing
  main
   include:marked README.md
